<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melegy.linkester">

    <application>
        <activity
            android:name="com.melegy.linkester.DeepLinksTestActivity"
            android:icon="@drawable/linkester_ic_link"
            android:label="Linkester"
            android:roundIcon="@drawable/linkester_ic_link"
            android:theme="@style/linkester_LibTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
